.detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .detail_header {
        width: 100%;
        height: .5rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eeeeee;
        span {
            width: .5rem;
            height: .5rem;
            display: inline-block;
            line-height: .5rem;
            text-align: center;
        }
        b {
            flex: 1;
            padding-left: .2rem;
            font-size: .15rem;
            font-weight: 800;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .detail_content {
        flex: 1;
        font-size: .14rem;
        text-indent: 2em;
        padding: .05rem;
    }
    .detail_footer {
        width: 100%;
        height: .5rem;
        border-top: 1px solid #eeeeee;
        display: flex;
        align-items: center;
        padding-left: .1rem;
    }
}