.list {
  width: 100%;
  height: auto;
  background: #eee; }
  .list .list_page {
    width: 100%;
    height: auto;
    padding: .1rem .1rem;
    border-bottom: 1px solid #eee;
    background: #fff; }
    .list .list_page p img {
      width: .3rem;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: .05rem; }
    .list .list_page p span {
      color: #444;
      font-size: .14rem; }
    .list .list_page h2 {
      line-height: 1.4;
      font-size: 20px;
      font-weight: 500; }
    .list .list_page h3 span {
      color: #8590a6;
      font-size: .14rem; }
    .list .list_page h4 {
      margin-bottom: 2px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      word-break: break all; }

a {
  color: #000; }
